header, #footer {
  background-color: purple;
}

.header-text, #footer {
  color: white;
  text-align: center;
}

.article-title {
  font-family: Arial, Helvetica, sans-serif;
}

.article-date {
  font-style: italic;
}

.article-author, .article-date {
  color: grey;
}
