* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #555;
}

.modal {
  height: 80vh;
  width: 900px;
  max-width: 80%;
  background-color: white;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.header {
  padding: 0 1rem;
  border-bottom: 1px solid #777;
  padding-bottom: .5rem;
  display: flex;
  justify-content: space-between;
}

.title {
  font-size: 1.5rem;
  padding-top: 1rem;
}

.close-button {
  background: none;
  border: none;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
  padding: 0;
  cursor: pointer;
  align-self: flex-start;
  padding-top: .5rem;
}

.body {
  flex-grow: 1;
  overflow: auto;
  padding: 1rem;
}

.footer {
  display: flex;
  justify-content: flex-end;
  padding: .5rem;
  border-top: 1px solid #777;
}

.footer .btn {
  margin-right: .5rem;
}

.footer .btn:last-child {
  margin-right: initial;
}

.btn {
  padding: .5em 1em;
  font-size: inherit;
  border-radius: .3em;
  border: none;
  color: white;
  cursor: pointer;
}

.btn.btn-primary {
  background-color: #1CA;
}

.btn.btn-primary:hover,
.btn.btn-primary:focus {
  background-color: #0A8;
}

.btn.btn-danger {
  background-color: #C33;
}

.btn.btn-danger:hover,
.btn.btn-danger:focus {
  background-color: #A11;
}