.header-text {
  text-align: center;
}

.green-section {
  background-color: green;
  color: white;
}

.section-title {
  font-family: Arial;
}

.cyan {
  color: cyan;
}

.cross-off {
  text-decoration-line: line-through;
}