body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
}

.header {
  background-color: #006699;
  color: white;
  text-align: center;
  padding: 1.5rem;
}

.header-title {
  margin: 0;
}

.section {
  padding: 1rem 2rem;
}

.section.section-accent {
  background-color: #006699;
  color: white;
}

.skills-list {
  font-size: 1.2rem;
  font-style: italic
}

.projects-list, .skills-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.projects-list {
  color: #777;
}

.projects-list-item {
  margin-bottom: 1rem;
}

.contact-section {
  margin: 2rem 0;
}

.section-content {
  padding-left: 1rem;
}

.input {
  border: 1px solid #AAA;
  outline: none;
  padding: .5em;
  border-radius: .2em;
  font-size: 1rem;
  font-family: inherit;
  line-height: inherit;
}

.input:focus {
  border-color: #006699;
  box-shadow: 0 0 5px 0 #006699;
}

.input-no-resize {
  resize: none;
}

.btn {
  background-color: hsl(200, 100%, 30%);
  border: 1px solid hsl(200, 100%, 10%);
  border-radius: .3em;
  cursor: pointer;
  outline: none;
  padding: .5em 1em;
  color: white;
}

.btn:hover, .btn:focus {
  background-color: hsl(200, 100%, 20%);
  box-shadow: 0 0 5px 0 hsl(200, 100%, 10%);
}

.footer {
  background-color: #006699;
  color: white;
  font-size: 1.25rem;
  padding: 1.5rem;
  text-align: center;
}