* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
}

.btn {
  margin: 1rem;
  background-color: hsl(200, 100%, 50%);
  border: none;
  outline: none;
  color: white;
  padding: .5em 1em;
  border-radius: .3em;
  cursor: pointer;
}

.btn-hide {
  opacity: .7;
  transition: opacity 500ms;
}

.btn-hide:hover {
  opacity: 1;
}

.btn-hide:focus {
  opacity: 0;
}

.btn-color {
  transition-property: background-color, color;
  transition-duration: 500ms;
}

.btn-color:focus {
  color: #333;
  background-color: hsl(20, 100%, 50%);
}